/bin/
/build/
/distributions/
/target/
/.gradle/
/.settings/
/src/main/resources/logs/
/src/main/resources/web/serverinfo.json
/src/main/resources/web/YourHomeDesigner/projects/
/src/main/resources/ipcamerasnapshots/
/src/main/resources/database/home_history_weekly.db
/src/main/resources/database/home_history_archive.db
/src/main/resources/config/homeserver.cfg
api_keys.properties
.classpath
.project
